*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600&display=swap');

@import './lib/reset.scss';

html{
    scroll-behavior: smooth
}
.p-20{
    padding: 0 20px;
}
.asider{
    padding: 20px;
}
.el-menu {
    height: 100vh;
    background-color: #94b2eb;
}
.el-aside {
    height: 100vh;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-12{
    margin-bottom: 12px;
}
.mt-20{
    margin-top: 20px;
}
.white{
    height: 100vh;
    overflow:hidden;
    background: #e8f0ff;
    .el-menu {
        border-right-width: 0px;
        background-color: #94b2eb;
        .el-menu-item:hover {
            color:black;
            background-color: #e8f0ff;
        }
        .el-menu-item {
            color: white;
        }
        .is-active {
            color:black;
        }
    }
}
.black{
    border-right-width: 0px;
    background-color: #a7b3c9;
    overflow: hidden;
    color:white;
}
.blacka{
    color:white;
    background-color: red;

}
.el-radio-group{
    margin: 10px;
}
.el-menu-vertical-demo.aa .el-menu-item.is-active {
    color:white;
}
.el-menu-vertical-demo.aa .el-menu-item {
    color:black;
}
.black{
    .el-table__empty-block {
        background: #d9d8d8;
    }
    .el-table tr:hover {
        color: #606266; 
    }
    .el-table th.el-table__cell.is-leaf {
        background-color: #677da5;
        color: white;
    }
    .el-table tr{
        color: white;
        background: #aebbcc;
    }
}